<h3>Select ADMIN tab to create a new comment</h3>

<ul>

<% @posts.each do |post| %>

  <li>
    Username: <%= post.post_username %><br />
    Comment: <%= post.comment%><br /> 
    
  </li>
<% end %>
</ul>