<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arons Auto</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<nav class="navi">
<li class="list"><a href="/">HOME</a></li>
<li class="list"><a href="/cars">CARS</a></li>
<li class="list"><a href="/customers">CUSTOMERS</a></li>
<li class="list"><a href="/about">ABOUT</a></li>

<%if session[:user_id]%>

<li class="list"><a href="/admin">ADMIN</a></li>
<li class="list"><a href="/blog">BLOG</a></li>
<li class="list"><a href="/users">USERS</a></li>
<li class="list"><a href="/signout">SIGN OUT</a></li>


<%else%>


<li class="list"><a href="/signup">SIGN UP</a></li>
<li class="list"><a href="/signin">SIGN IN</a></li>

<% end %>
</nav>



<%=yield%>

</body>
</html>