.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 62, 62);
  }
  
  .list {
    float: left;
  }
  
  .list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .list a:hover {
    background-color: darkgray;
  }


ul{
    display: inline-block;
}

li{
    padding: 10px;
    margin: 10px;
}